<!DOCTYPE html>
<html>
<head>
  <title><%= @page %></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <nav>
    <!-- REMEMBER: DO NOT USE INLINE STYLES.  -->
    <p>Nav:</p>
    <a href="/items">Item list</a> •
    <a href="/items/add">Add Items</a>
  </nav>
  <h1 id="app-name">Awesome Site!</h1>   
  <% if session[:message] %>
    <p class="msg">
    <%= session[:message] %>
    </p>
    <% session[:message] = nil
  end %>
  <%= yield %> 

</body>
</html>